.contact .section-text {
    margin-bottom: 50px;
}

.contact-list {margin-block: 40px 50px;}

.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact-item ion-icon {
    color: var(--secondary);
    font-size: 2rem;
    flex-shrink: 0;
}

.contact-link {
    font-style: normal;
    font-weight: 500;
}

.contact-item .contact-link:hover {
    color: var(--secondary);
}

.input-field {
    color: black;
    font-size: var(--fs-6-17);
    letter-spacing: 1.4px;
    border: 1px solid var(--black-coral);
    padding: 10px;
    margin-block-end: 30px;
    outline: none;
}

.input-field:focus {border-color: var(--black-coral);}

textarea .input-field {
    resize: vertical;
    min-height: 45px;
    height: 45px;
    max-height: 100px;
    width: 100%;
}


.submit-btn{
    font-weight: 700;
    background-color: hsla(0, 0%, 95%, 1);
    color: var(--black-coral);
    width: 100%;
    font-size: var(--fs-6-17);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 100px;
}

.submit-btn:is(:hover, :focus-visible) {
    background-color: var(--secondary);
    color: var(--cultured);
}

.submit-btn:is(:hover, :focus-visible) ion-icon {
    transform: rotate(-48deg);
}