.container {
    padding-inline: 16px;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 12px;
}

.social-link {
    font-size: 2rem;
    transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
    transform: translateY(-3px);
}

/* Hero Section */
.section {
    padding-block: var(--section-padding);
}

.w-100 {
    width: 100%;
}

.h1,
.h2,
.h3,
.h4 {
    color: var(--charcoal);
    line-height: 1.3;
}

.h1 {
    font-size: var(--fs-1-27);
}

.h2 {
    font-size: var(--fs-2-26);
}

.h3 {
    font-size: var(--fs-3-26);
}

.h4 {
    font-size: var(--fs-4-19);
}


/* CSS */
.btn {
    background: hsla(0, 0%, 95%, 1);
    backface-visibility: hidden;
    color: var(--black-coral);
    font-size: var(--fs-6-17);
    font-weight: 400;
    max-width: max-content;
    line-height: 1.3;
    padding: 12px 28px;
    position: relative;
    transform: translateZ(0) scale(1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: 2px solid var(--manatee);
    transition: var(--transition-1);
    will-change: transform;
    border-radius: 6px;
}

.btn:not(:disabled):hover {
    transform: scale(1.05);
}

.btn:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.btn:focus {
    outline: 0 solid transparent;
}

.btn:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.btn:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.btn:focus:not(:focus-visible):before {
    border-width: 0;
}

.btn:not(:disabled):active {
    background-color: var(--primary);
    transform: translateY(.125rem);
    border-radius: 0px;
    letter-spacing: 0.08px;
}

/* .btn-primary,
.btn-secondary {

} */

.section-text {
    font-size: var(--fs-5-18);
}

.section-title {
    margin-block-end: 16px;
}

.section-subtitle {
    /* border: 1px solid black; */
    color: var(--black-coral);
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 16px;

    position: relative;
}

.section-subtitle::after {
    content: "";
    position: absolute;

    top: 80%;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: var(--secondary);

}


/* Skills */
.tooltip {
    position: absolute;
    top: -30px;
    background-color: var(--secondary);
    /* background:  black; */
    min-width: max-content;
    color: var(--white);
    font-size: 15px;
    font-weight: var(--fw-700);
    padding: 5px 10px;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-1);
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
    z-index: 1;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

footer .container {
    border-top: 1px solid var(--cadet-blue-crayola_a20);
    color: var(--secondary);
    display: flex;
    margin-block: 20px;
}

.footer a {
    width: 100%;
    text-align: center;
    font-size: calc(12px + 1vw);
}


/* ! MEdia Queries */

/* Responsive for large than 575 px */

@media (min-width: 575px) {

    /* Reused Style */
    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    .rohit-banner .w-100 {
        width: 450px;
        height: 450px;
    }

    .card-slider {--slider-items: 2;}
}


@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .section-text { --fs-5-18: 2rem;}

    .card-slider {--slider-items: 3;}

}

@media (min-width: 992px) {

    /* custom property */
    :root {
        --section-padding: 120px;
    }

    .btn {
        padding: 16px 32px;
    }

    .container {
        max-width: 960px;

        position: relative;
    }

    .section-text { --fs-5-18: 2.2rem;}


    .section-subtitle {
        position: absolute;
        font-size: var(--fs-6-17);
        font-weight: bold;
        letter-spacing: 5px;
        top: 6px;
        left: -15px;
        transform: rotate(0.75turn) translateX(-100%);
        transform-origin: left top;
        margin-bottom: 0;
    }

    .section-subtitle::after {
        height: 4px;
        top: 8px;
        left: auto;
        right: calc(100% + 20px);
      }

    .nav-open-btn,
    .navbar-top,
    .navbar .wrapper, 
    .overlay {display: none;}

    .navbar,
    .navbar.active {
        all: unset;
        display: flex;
        flex-grow: 1;
    }

    .navbar-list {
        font-size: 2rem;
        display: flex;
        gap: 36px;
        margin-inline: auto;
    }

    .navbar-link {
        color: var(--charcoal);
        transition: var(--transition-1);
    }

    .navbar-link:is(:hover, :focus-visible) {color: var(--cinamon-sating);}
    .navbar-link:is(:hover, :focus-visible) {
        color: var(--secondary);
    }

    .navbar .social-link {
        color: var(--charcoal);
        font-size: 2.5rem;
    }

    .navbar .social-link:active {
        color: var(--secondary);
    }

    .header {
        top: 45px;
        max-width: 960px;
        left: 50%;
        transform: translateX(-50%);
        padding-inline: 16px;
        border-radius: var(--radius-8);
    }

    .header.active {
        top: 0;
        left: 0;
        max-width: unset;
        border-radius: 0;
    }

    .hero {
        padding-block-start: calc(var(--section-padding) + 80px);
        align-items: center;
        gap: 100px;
    }

    .hero .container {
        grid-template-columns: 0.8fr 1fr;
        align-items: center;
        gap: 100px;
    }

    .hero-content {text-align: left;}

    .hero .btn-wrapper {justify-content: flex-start;}

    .about .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about .skills-content {
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .toggle-btn {
        padding: 8px 25px;
    }

    .card-slider {--slider-items: 4;}

    .contact .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 100px;
    }

    .contact-list .contact-item{
        font-size: var(--fs-6-17);
        margin: 0 0 10px 20px;
    }

}

@media (min-width: 1200px){
    .container,
    .header {max-width: 1140px;}

}

@media (min-width: 1400px){
    .container,
    .header {max-width: 1320px;}

    .hero .container {grid-template-columns: 1fr 0.8fr;}

    .hero .section-text {--fs-5-18: 2.4rem}
}